.compressed-video {
  display: flex;
  margin-right: 5rem;
  h3 {
    font-weight: 400;
  }
  * {
    margin: 0 0.5rem;
  }

  img {
    cursor: pointer;
    transition: all 0.1s ease-out;
    &:active {
      transform: translateY(5px);
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    margin-right: 0;
    .controls {
      margin-top: 0.5rem;
    }
  }
  .controls {
    display: flex;
    align-items: center;
  }
}
// .compressed-video {
//   width: 80px;
//   height: 80px;
//   margin-right: 20px;
//   cursor: pointer;
//   margin: 1.5rem;

//   video {
//     object-fit: cover;
//   }
// }
