.output {
  padding: 10px 20px;
}

.compressed {
  min-height: 35vh;
}

.videos {
  display: flex;
}

.download {
  display: flex;
  flex-direction: column;
}

.compressed h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.progressWrapper {
  width: 80%;
  height: 20px;
  margin: auto;
  border-radius: 10px;
  background: #1e1e1e;
  transition: all 0.1s ease;
  overflow: hidden;
}
.progress {
  border-radius: 10px;
  background-color: lime;
  height: 100%;
  width: 0%;
}

.logWrapper {
  background-color: #1e1e1e;
  width: 80%;
  height: 100px;
  margin: auto;
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 5px;
}
