.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  // transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .preview {
    .header {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .close {
        cursor: pointer;
      }
    }
    video {
      width: 50vw;
    }
  }
}
